:root {
    --such-color: #d4d7f8;
    --hypergreen-color: #35e668;
    --fallback-p: var(--hypergreen-color);
    --p: var(--hypergreen-color);
    --fallback-s: var(--such-color);
    --s: var(--such-color);
}

.client-basic {
    @apply rounded-md bg-white p-2;
}

.text-contrast {
    background: inherit;
    background-clip: text;
    color: transparent;
    filter: invert(1) contrast(2) drop-shadow(var(--hypergreen-color));
}

#nprogress .bar {
    background-color: var(--such-color) !important;
}

::-webkit-scrollbar {
    @apply w-0;
}

.btn-primary {
    @apply bg-hypergreen hover:bg-hypergreen;
}
.btn-secondary {
    @apply bg-secondary hover:bg-secondary;
}
.btn-success {
    @apply bg-success hover:bg-success;
}
.btn-info {
    @apply bg-info hover:bg-info;
}
.btn-error {
    @apply bg-error hover:bg-error;
}
.btn-neutral {
    @apply bg-neutral hover:bg-neutral;
}

.btn-primary,
.btn-success,
.btn-info,
.btn-error,
.btn-secondary,
.btn-neutral {
    @apply border-none font-medium text-white hover:bg-opacity-85;
}

.toast-normal,
.toast-persist {
    @apply relative right-0 rounded-l-lg bg-[#FCFCFD] px-10 py-3 font-medium shadow-sm;
    transition: all;
    transition-duration: 300ms;
    animation: move-right-in ease-out 360ms forwards;
    overflow-x: hidden;
}
.toast-normal::after {
    content: "";
    @apply absolute bottom-0 left-0 h-1 w-full rounded-l bg-[#9eb3e6];
    animation: shrink-width 5s linear;
}

@keyframes move-right-in {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}
@keyframes shrink-width {
    100% {
        width: 0;
    }
}
