:root {
    --such-color: #d4d7f8;
    --hypergreen-color: #35e668;
    --fallback-p: var(--hypergreen-color);
    --p: var(--hypergreen-color);
    --fallback-s: var(--such-color);
    --s: var(--such-color);
}

.client-basic {
    @apply rounded-md bg-white p-2;
}

.text-contrast {
    background: inherit;
    background-clip: text;
    color: transparent;
    filter: invert(1) contrast(2) drop-shadow(var(--hypergreen-color));
}

#nprogress .bar {
    background-color: var(--such-color) !important;
}

::-webkit-scrollbar {
    @apply w-0;
}

.btn-primary {
    @apply border-none bg-hypergreen font-medium text-white hover:bg-hypergreen hover:bg-opacity-85;
}

@keyframes bounce-x {
    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-20px);
    }
}
